*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-color: #eeeeee;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color:#ff5964;
}

.outerSquare{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    border: 1px solid black;
}

.square{
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected{
    background-color: #38618c;
}

.gameover{
    background-color: #ff5964;
 }

 #conta{
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
    text-align: center;
 }